<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ClaudiaInBytes - Web Developer</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link rel="stylesheet" type="text/css"  href="css/preloader.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="app">
<script async
	src="//book.timify.com/widget/widget.min.js"
	id="timify-widget"
	data-position="right"
	data-locale="es-co"
	data-account-id="5f5fe84c371b994f20484e9f"
	data-auto-open="true"
	data-hide-close-button=1
	data-overlay-color="#000000"
	data-overlay-opacity="0.8"
	data-service-id="5f5fe9d1f5a59c1863063d81"
	data-resource-id="5f5fe84e371b994f20484eb5"
	data-show-selected-resource-only="true"
></script>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Hello, I'm <span class="name">ClaudiaInBytes</span></h1>
          <p>Claudia Estupinan Forero, Web Developer</p>
          <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a> </div>
      </div>
    </div>
  </div>
</header>
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
        <a class="navbar-brand page-scroll" href="#page-top">Claudia Estupinan Forero</a> </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#skills">Skills</a> </li>
          <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
          <li> <a class="page-scroll" href="#resume">Resume</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Favorite Quote -->
<div id="quote" class="text-center">
  <div class="container" ng-controller="MyquoteController">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <blockquote class="blockquote-reverse">
            <p>{{quote.quote}}</p>
            <footer><cite title="Source Title">{{quote.author}}</cite></footer>
          </blockquote>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container" ng-controller="MyprofileController">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="img/about.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p>{{profile.summary_1}}</p>
          <p>{{profile.summary_2}}</p>
          <p ng-bind-html="profile.summary_3 | unsafe "></p>
          <p class="text-center">
              <a class="btn btn-primary" ng-href="resumee/{{profile.resumee_en}}" 
                 target="_blank" href="resumee/claudiaestupinan_res_en.pdf" style="margin-bottom:10px;">
                 <i class="fa fa-download"></i> Download Resume</a>
              <br>
              <a class="btn btn-primary" ng-href="resumee/{{profile.resumee_es}}" 
                 target="_blank" href="resumee/claudiaestupinan_res_en.pdf">
                 <i class="fa fa-download"></i> Hoja De Vida</a>
          </p> 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Skills Section -->
<div id="skills" class="text-center" loadcharts>
  <div class="container" ng-controller="MyskillsController">
    <div class="section-title center">
      <h2>Some Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div ng-repeat="sk in my_skills">
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="{{sk.percentaje}}"> <span class="percent">{{sk.percentaje}}</span> </span>
          <h4>{{sk.skill}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio" ng-controller="MyprojectsController">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2> 
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <!--li><a href="#" data-filter=".web">Web</a></li>
            <li><a href="#" data-filter=".personal">Personal</a></li-->
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items" id="render-projects">
        <!--item-->
        <div class="col-sm-6 col-md-3 col-lg-3 {{prj.type}}" ng-repeat="prj in my_projects">
          <div class="portfolio-item">
            <div class="hover-bg">
              <!--anchor--> 
              <a ng-click="showProject(prj)" title="{{prj.title}}" href="#myModal" data-toggle="modal" data-target="#myModal">
              <div class="hover-text">
                <h4>{{prj.title}}</h4>
                <small>{{prj.short_desc}}</small> </div>
                <img ng-src="img/portfolio/{{prj.img_small}}" class="img-responsive" alt="{{prj.title}}"> 
              </a>
              <!--anchor--> 
            </div>
          </div>
        </div>
        <!--item-->
      </div><!--portfolio-items-->
      <!--Modal-->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label-2" aria-hidden="true">
      <div class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="my-modal-label-2">{{curPrj.title}}</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" ng-src="img/portfolio/{{curPrj.img_large}}">
                <p class="modal-desc">{{curPrj.description}}</p>
                <ul class="modal-links">
                  <li><a href="{{curPrj.gitpage}}" target="_blank"><i class="fa fa-github"></i><span>GitHub</span></a></li>
                  <li><a href="{{curPrj.video}}" target="_blank"><i class="fa fa-youtube"></i><span>YouTube</span></a></li>
                  <li><a href="{{curPrj.demourl}}" target="_blank"><i class="fa fa-paper-plane"></i><span>Demo</span></a></li>
                </ul>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </article>
      </div>
      </div>
      <!--Modal-->
    </div><!--row-->
  </div><!--container-->
</div><!--portafolio-->
<!-- Achievements Section -->
<div id="achievements" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Follow me around on GitHub!</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-delay="800ms">
        <div class="achievement-box"> <!--span class="count">7</span-->
          <h4><a href="https://github.com/claudiainbytes" target="_blank" class="lnk-github">https://github.com/claudiainbytes</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Resume Section -->
<div id="resume" class="text-center">
  <div class="container" ng-controller="MyexperienceController">
    <div class="section-title center">
      <h2>Experience</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline" ng-repeat="exps in my_experiences">
          <li class="{{exps.class}}">
            <div class="timeline-image">
              <h4>{{exps.start}}<br>
                - <br>
                {{exps.end}}</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{exps.company}}</h4>
                <h4 class="subheading">{{exps.position}}</h4>
              </div>
              <div class="timeline-body">
                <p>{{exps.description}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" ng-controller="MyeducationController">
    <div class="section-title center">
      <h2>Education</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline" ng-repeat="edu in my_education">
          <!-- Education Section-->
          <li class="{{edu.class}}">
            <div class="timeline-image">
              <h4>{{edu.start}}<br>
                - <br>
                {{edu.end}}</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{edu.school}}</h4>
                <h4 class="subheading">{{edu.course}}</h4>
              </div>
              <div class="timeline-body">
                <p>{{edu.description}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p>Bogotá<br>
           Colombia</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>claudiaestupinanforero@gmail.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-skype fa-2x"></i>
        <p>claudia.eforero</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Follow me!</h3>
      <div class="social">
        <ul>
          <li><a href="https://twitter.com/claudiainbytes" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/claudiainbytes" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://claudiainbytes.wordpress.com/" target="_blank"><i class="fa fa-wordpress"></i></a></li>
          <li><a href="https://www.linkedin.com/in/claudiaestupinanforero" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://codepen.io/claudiainbytes/" target="_blank"><i class="fa fa-codepen"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC2-52ebXHNyQCb8-mGnxsKA/videos?&ab_channel=ClaudiaInBytes" target="_blank"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; 2019 ClaudiaInBytes. Claudia Estupinan Forero, Web Developer. </p>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.1.12.4.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/easypiechart.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/jquery.counterup.js"></script>
<script type="text/javascript" src="js/waypoints.js"></script>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
